.u-widget-body .height div{
	width: 50px;
	/*margin:0px 15px;*/
    border:solid 1px #afa7a7;
    background:#ccceb9;
    display:inline-block;
}

.u-widget-body .width div{
	height:50px;
	margin:0px 15px;
    border:solid 1px #afa7a7;
    background:#ccceb9;
    display:inline-block;
}

.u-widget-body p{
	margin-top: -10px;
	margin-bottom: 30px;
}

.desc{
    position:absolute;
    bottom:-30px;
    font-size:12px;

}
.bg-f5{
	background-color: #f5f5f5;
}
.vertical-align-bottom{
     vertical-align: bottom;
 }
.vertical-align-top{
    vertical-align: top;
}
.text-justify span{
    display: inline-block /* Opera */;
    padding-left: 100%;
}
.margin-bottom-12{
    margin-bottom: 12px;
}
.height{
    margin-bottom: 50px;
}
.height div{
    position: relative;
    margin-top: 50px;
}
